/* .item {
  color: white;
} */
.item a {
  font-size: 26px;
  font-weight: 900;
  color: rgb(189, 189, 189);
  font-family: "Chewy", cursive;
  cursor: pointer;
}
/* .item ul li a :hover {
  font-size: 26px;
  font-weight: 900;
  color: rgb(255, 0, 0);
  font-family: "Chewy", cursive;
  cursor: pointer;
} */

.item {
  /* margin-left: 20px;
  margin-right: 20px; */
}
.brane-img {
  margin-top: 20px;
}
.brane-img img {
  height: 100px;
  width: 400px;
  cursor: pointer;
}
.logo-img {
  display: flex;
  margin-top: 20px;
}
.overlay .closebtn {
  display: none;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.opennav {
  display: none; 
}
@media screen and (max-width: 375px) {
  .navbar {
    margin-top: 20px;
  }
  .brane-img {
    margin-top: 0px;
  }
  .logo-img {
    margin-top: 0px;
  }
  .brane-img img {
    height: 50px;
    width: 200px;
    cursor: pointer;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    display: grid;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  .opennav {
    display: contents;
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .item a {
    font-size: 24px;
  }
}
@media screen and (min-width: 376px) and (max-width: 540px) {

  .navbar {
    margin-top: 20px;
  }
  .brane-img {
    margin-top: 0px;
  }
  .logo-img {
    margin-top: 0px;
  }
  .brane-img img {
    height: 60px;
    width: 260px;
    cursor: pointer;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    display: grid;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  .opennav {
    display: contents;
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}
@media screen and (min-width: 541px) and (max-width: 820px) {
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    margin-top: 20px;
  }
  .brane-img {
    margin-top: 0px;
  }
  .logo-img {
    margin-top: 0px;
  }
  .brane-img img {
    height: 100px;
    width: 400px;
    cursor: pointer;
  }

  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    display: grid;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  .opennav {
    display: contents;
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}
@media screen and (min-width: 821px) and (max-width: 920px) {

  .navbar {
    margin-top: 20px;
  }
  .brane-img {
    margin-top: 0px;
  }
  .logo-img {
    margin-top: 0px;
  }
  .brane-img img {
    height: 100px;
    width: 400px;
    cursor: pointer;
  }

  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    display: grid;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  .opennav {
    display: contents;
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}
@media screen and (min-width: 921px) and (max-width: 1024px) {

  .navbar {
    margin-top: 20px;
  }
  .brane-img {
    margin-top: 0px;
  }
  .logo-img {
    margin-top: 0px;
  }
  .brane-img img {
    height: 70px;
    width: 260px;
  }
  .item a {
    font-size: 14px;
    font-weight: 900;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {

  .navbar {
    margin-top: 20px;
  }
  .brane-img {
    margin-top: 0px;
  }
  .logo-img {
    margin-top: 0px;
  }
  .brane-img img {
    height: 80px;
    width: 320px;
  }
  .item a {
    font-size: 20px;
    font-weight: 900;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {

  .navbar {
    margin-top: 20px;
  }
  .brane-img {
    margin-top: 0px;
  }
  .logo-img {
    margin-top: 0px;
  }
  .brane-img img {
    height: 80px;
    width: 320px;
  }
  .item a {
    font-size: 20px;
    font-weight: 900;
  }
}