<nav class="navbar">
  <div class="brane-img">
    <img class="logo-img" src="..\assets\img\logo.png" alt="" srcset="" />
  </div>
    <span class="opennav" (click)="openNav()">&#9776;</span>
  <div id="myNav" class="overlay">
    <div class="item d-flex align-items-center justify-content-center overlay-content">
      <ul class="nav flex-col">
        <li class="nav-item">
          <a class="nav-link" (click)="home()">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="skill()">MY SKILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="project()">PROJECT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="contact()">CONTACT</a>
        </li>
      </ul>
    </div>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
  </div>
</nav>
