.head a {
    font-size: 50px;
    color: aliceblue;
}
.content a {
    font-size: 20px;
    color: aliceblue;
}
.mr-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.cycle {
    background-color: aliceblue;
    display: flex;
    height: 835px;
    width: 850px;
    /* border-radius: 50%; */
    border-top-right-radius: 100%;
}
.img-profile {
    margin-left: -400px;
    margin-top: -50px;
    /* height: 780px;
    width: 680px; */
}
.massage-right {
    margin-left: 400px;
    margin-top: -700px;
    width: 70%;
}

@media screen and (max-width: 375px) {
    .massage-right {
        margin-left: 0px;
        margin-top: -580px;
        width: 100%;
    }
    .cycle {
        height: 320px;
        width: 630px;
        /* border-radius: 50%; */
        border-top-right-radius: 100%;
    }
    .img-profile {
        margin-left: -300px;
        margin-top: 280px;
    }
    .content a {
        font-size: 18px;
    }
    .head a {
        font-size: 40px;
    }
}
@media screen and (min-width: 376px) and (max-width: 540px) {
    .massage-right {
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
    }
    .cycle {
        display: none !important;
    }
    .content a {
        font-size: 18px;
    }
    .head a {
        font-size: 40px;
    }
}
@media screen and (min-width: 541px) and (max-width: 820px) {
    .massage-right {
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
    }
    .cycle {
        display: none !important;
    }
    .content a {
        font-size: 18px;
    }
    .head a {
        font-size: 40px;
    }
}
@media screen and (min-width: 821px) and (max-width: 920px) {
    .massage-right {
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
    }
    .cycle {
        display: none !important;
    }
    .content a {
        font-size: 18px;
    }
    .head a {
        font-size: 40px;
    }
}
/* @media screen and (min-width: 1025px) and (max-width: 1280px) {
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
} */