<div class="containers">
  <img class="cycle img-profile" alt="" />
  <div class="col-12 d-flex justify-content-center">
    <div class="massage-right">
      <div class="head">
        <a>Contact Me</a>
      </div>
      <div class="content">
        <a>
          I’m interested in freelance opportunities – especially ambitious or
          large projects. However, if you have other request or question, don’t
          hesitate to use the form.</a
        >
      </div>

      <div class="">
        <div class="row mr-10">
          <div class="col-6">
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="Name"
            />
          </div>
          <div class="col-6">
            <input
              class="form-control"
              type="email"
              name="name"
              placeholder="email"
            />
          </div>
        </div>
        <div class="mr-10">
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="subject"
          />
        </div>
        <div class="mr-10">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="6"
          ></textarea>
        </div>
        <div class="mr-10">
          <button class="btn btn-info">Send massege</button>
        </div>
      </div>
    </div>
  </div>
</div>
