.head {
  margin: auto;
}
.head a {
  font-family: "Chewy", cursive;
  font-weight: 900;
  font-size: 36px;
  color: rgb(115, 136, 255);
}

.content {
  margin-top: 20px;
}

.content a {
  font-size: 24px;
  color: rgb(231, 231, 231);
}

.skill {
  font-family: "Chewy", cursive;
  margin-top: 30px;
  color: aliceblue;
}

.skill-dt {
  font-size: 25px;
}

.mr-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.box {
  margin-top: 20px;
}
.card-box {
  width: 80%;
  background-color: rgb(48, 48, 48);
  padding: 40px;
  margin: auto;
}

.head-box {
  font-size: 24px;
}

.mr-10 ul li {
  list-style: none;
  margin-top: 5px;
}

@media screen and (max-width: 375px) {
  .card-box {
    width: 100%;
  }
  .content a {
    font-size: 16px;
  }
}
@media screen and (min-width: 376px) and (max-width: 540px) {
  .card-box {
    width: 100%;
  }
  .content a {
    font-size: 16px;
  }
}
@media screen and (min-width: 541px) and (max-width: 820px) {
  .card-box {
    width: 80%;
  }
  .content a {
    font-size: 18px;
  }
}
@media screen and (min-width: 821px) and (max-width: 920px) {
  .card-box {
    width: 80%;
  }
  .content a {
    font-size: 18px;
  }
}
/* @media screen and (min-width: 1025px) and (max-width: 1280px) {
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {

} */