<div class="containers">
  <div class="head d-flex justify-content-center">
    <a>My Skills & Experiences</a>
  </div>

  <div class="content">
    <a>
      Since beginning my journey as a freelance developer nearly 10 years ago,
      I’ve done remote work for agencies, consulted for startups, and
      collaborated with talented people to create web products for both business
      and consumer use.</a
    >
    <a>
      I create successful responsive websites that are fast, easy to use, and
      built with best practices. The main area of my expertise is front-end
      development, HTML, CSS, JS, building small and medium web apps, custom
      plugins, features, animations, and coding interactive layouts.</a
    >
    <a>
      I also have full-stack developer experience with popular open-source CMS
      like (WordPress, Drupal, Magento, Keystone.js and others) .</a
    >
    <a> Visit my LinkedIn profile for more details or just contact me</a>
  </div>
  <div class="skill">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 skill-dt">
        <div class="Fron-end mr-10">
          <a>Front-end</a>
          <div class="progress">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="back-end mr-10">
          <a>Back-end</a>
          <div class="progress">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="Angular mr-10">
          <a>Angular</a>
          <div class="progress">
            <div
              class="progress-bar bg-info"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="Spring mr-10">
          <a>Spring Framwork</a>
          <div class="progress">
            <div
              class="progress-bar bg-danger"
              role="progressbar"
              style="width: 20%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 box">
        <div class="card-box">
          <div class="head-box">
            <a>Education</a>
          </div>
          <div class="mr-10">
            <ul>
              <li><a>Rajamangala University of Technology Thanyaburi</a></li>
              <li><a>Enrolled | 2016-2020</a></li>
              <li><a
              >Business Administration, Branch Information System And Business
              Computer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
