.template {
  width: 80%;
  height: auto;
  margin: auto;
}
.backgroud {
  /* background-image: url("..\assets\img\bg.jpg"); */
  background-color: rgb(24, 24, 24);
  /* opacity: 0.5; */
  /* background-position: right bottom, left top; */
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 100%;
  /* -webkit-filter: grayscale(100%); */
}
