.head a {
    font-size: 30px;
    color: aliceblue;
}

.card-box {
  font-family: "Chewy", cursive;
  width: 70%;
  height: 70%;
  /* border: 5px solid rgb(255, 255, 255); */
  background-color: rgba(228, 228, 228, 0.945);
  border-radius: 5px;
  padding: 10px;
  /* margin: 20px; */
}

.project {
  width: 100%;
  height: auto;
}


.content {
    margin-top: 20px;
}

.bnt-pre button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

/* @media screen and (max-width: 375px) {
}
@media screen and (min-width: 376px) and (max-width: 540px) {
}
@media screen and (min-width: 541px) and (max-width: 820px) {
}
@media screen and (min-width: 821px) and (max-width: 920px) {
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
} */