<div class="containers">
  <div class="d-flex justify-content-center">
    <img class="project" src="..\assets\img\projectpkshop.png" alt="" />
  </div>
  <div class="content">
    <div class="head col-12 d-flex justify-content-center">
      <a> PK Shop</a>
    </div>
    <div class="bnt-pre col-12 d-flex justify-content-center">
      <button class="btn btn-info">Previwe</button>
    </div>
  </div>

  <div class="containers">
    <div class="d-flex justify-content-center">
      <img class="project" src="..\assets\img\projectwag.png" alt="" />
    </div>
    <div class="content">
      <div class="head col-12 d-flex justify-content-center">
        <a>wage</a>
      </div>
      <div class="bnt-pre col-12 d-flex justify-content-center">
        <button class="btn btn-info">Previwe</button>
      </div>
    </div>
  </div>
</div>
