/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
body {
    overflow: hidden;
    background-color: rgb(24, 24, 24);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    min-width: 320px;

}

.containers {
    margin-top: 65px;
    /* height: 853px;\ */
    /* height: 800px; */
}