.ms-head {
  /* margin-top: 10px; */
  margin-bottom: 60px;
}

.ms-head a {
  font-family: "Chewy", cursive;
  color: rgb(238, 238, 238);
  font-size: 45px;
}

.ms-content {
  margin-top: 15px;
  margin-bottom: 20px;
}
.ms-content a {
  font-family: "Chewy", cursive;
  color: rgb(180, 180, 180);
  font-size: 22px;
}
.card-box {
  width: 800px;
  height: 500px;
  border: 7px solid rgb(117, 146, 182);
  border-radius: 20px;
  padding: 50px;
}
.card-box-1 {
  width: 800px;
  height: 500px;
  border: 7px solid rgb(117, 146, 182);
  border-radius: 20px;
  padding: 50px;
  transform: rotate(8deg);
  -ms-transform: rotate(8deg); /* IE 9 */
  -moz-transform: rotate(8deg); /* Firefox */
  -webkit-transform: rotate(8deg); /* Safari and Chrome */
  -o-transform: rotate(8deg); /* Opera */
  margin-top: -500px;
}

.img-profile {
  margin-left: 70%;
  height: 785px;
  width: 680px;
}
.content-aboue-me {
  margin-top: -770px;
}

@media screen and (max-width: 375px) {
  
  .ms-head a {
    font-size: 28px;
  }
  .content-aboue-me {
    margin-top: 0px;
  }
  .img-profile {
    margin-left: 0px;
    height: 350px;
    width: 280px;
  }
  .card-box {
    width: 300px;
    height: 500px;
    padding: 30px;
  }
  .card-box-1 {
    width: 300px;
    height: 500px;
  }
  .ms-content a {
    font-size: 12px;
  }
  .ms-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ms-head {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
}
@media screen and (min-width: 376px) and (max-width: 540px) {
  
  .ms-head a {
    font-size: 30px;
  }
  .content-aboue-me {
    margin-top: 0px;
  }
  .img-profile {
    margin-left: 0px;
    height: 400px;
    width: 330px;
  }
  .card-box {
    width: 300px;
    height: 500px;
    padding: 30px;
  }
  .card-box-1 {
    width: 300px;
    height: 500px;
  }
  .ms-content a {
    font-size: 12px;
  }
  .ms-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ms-head {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 541px) and (max-width: 820px) {

  .ms-head a {
    font-size: 38px;
  }
  .content-aboue-me {
    margin-top: 0px;
  }
  .img-profile {
    margin-left: 0px;
    height: 750px;
    width: 600px;
    
  }
  .card-box {
    width: 650px;
    height: 500px;
    padding: 30px;
  }
  .card-box-1 {
    width: 650px;
    height: 500px;
  }
  .ms-content a {
    font-size: 20px;
  }
  .ms-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ms-head {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 821px) and (max-width: 920px) {

  .ms-head a {
    font-size: 44px;
  }
  .content-aboue-me {
    margin-top: 0px;
  }
  .img-profile {
    margin-left: 0px;
    height: 850px;
    width: 700px;
    
  }
  .card-box {
    width: 720px;
    height: 580px;
    padding: 40px;
  }
  .card-box-1 {
    width: 720px;
    height: 580px;
    margin-top: -570px !important;
  }
  .ms-content a {
    font-size: 24px;
  }
  .ms-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ms-head {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 921px) and (max-width: 1024px) {

  .ms-head a {
    font-size: 38px;
  }
  .content-aboue-me {
    margin-top: -580px;
  }
  .img-profile {
    margin-top: 140px;
    margin-left: 70%;
    height: 420px;
    width: 340px;
  }
  .card-box {
    width: 500px;
    height: 380px;
    padding: 40px;
  }
  .card-box-1 {
    width: 500px;
    height: 380px;
    margin-top: -380px;
  }
  .ms-content a {
    font-size:14px;
  }
  .ms-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ms-head {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {

  .ms-head a {
    font-size: 38px;
  }
  .content-aboue-me {
    margin-top: -580px;
  }
  .img-profile {
    margin-left: 65%;
    height: 540px;
    width: 430px;
  }
  .card-box {
    width: 580px;
    height: 380px;
    padding: 40px;
  }
  .card-box-1 {
    width: 600px;
    height: 380px;
    margin-top: -380px;
  }
  .ms-content a {
    font-size:16px;
  }
  .ms-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ms-head {
    margin-top: 30px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {

  .ms-head a {
    font-size: 38px;
  }
  .content-aboue-me {
    margin-top: -700px;
  }
  .img-profile {
    margin-top: 60px;
    margin-left: 70%;
    height: 585px;
    width: 480px;
  }
  .card-box {
    width: 680px;
    height: 460px;
    padding: 40px;
  }
  .card-box-1 {
    width: 680px;
    height: 460px;
    margin-top: -460px;
  }
  .ms-content a {
    font-size:20px;
  }
  .ms-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ms-head {
    margin-top: 30px;
    margin-bottom: 80px;
  }
}