<div class="containers">
  <div class="">
    <img class="img-profile" src="..\assets\img\profile.png" alt="" />
  </div>
    <div class="content-aboue-me">
      <div class="ms-head">
        <a>Hey! My name is peerapol koeram.</a>
        <br />
        <a>My nickname Tak.</a>
      </div>
      <div class="card-box">
        <div class="ms-content">
          <a
            >I am a fresh graduate I want to work in the Programer field. I am
            passionate about coding, especially Java. I feel that it is a
            language that writes Oject Oriented Programming (OOP) well and I am
            ready to work hard to do my best.
          </a>
        </div>
        <div class="ms-content">
          <a
            >I'm a person who is determined He is a person who pays attention to
            detail. Always ready to solve problems Most of my favorite
            activities are watering the plants, watching movies and most of them
            like listening to music, it makes us feel relaxed.
          </a>
        </div>
        <div class="ms-content">
          <a
            >Interested in front-end and back-end work and ready to work as a
            team with a good attitude.
          </a>
        </div>
      </div>
      <div class="card-box-1"></div>
    </div>
</div>
